USE [master]
GO
/****** Object:  Database [QL_Film]    Script Date: 05/31/17 17:11:58 ******/
CREATE DATABASE [QL_Film]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_Film', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_Film.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_Film_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_Film_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Film].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Film]
GO
/****** Object:  Table [dbo].[Main]    Script Date: 05/31/17 17:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Main](
	[TenPhim] [nvarchar](50) NULL,
	[LinkPhim] [varchar](100) NOT NULL,
	[ThoiLuong] [varchar](100) NULL,
	[NamSanXuat] [int] NULL,
	[DaoDien] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[Hinhanh] [image] NULL,
	[Gia] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 05/31/17 17:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TheLoai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 05/31/17 17:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[PASS] [varchar](20) NOT NULL,
	[TYPE] [varchar](20) NOT NULL,
	[FULL_NAME] [varchar](100) NULL,
	[TEL] [varchar](20) NULL,
	[EMAIL] [varchar](20) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[spr_get_users]    Script Date: 05/31/17 17:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spr_get_users]
as 
select ID, USERNAME, PASS, FULL_NAME, TEL, EMAIL from USERS
where [USERS].[TYPE] != 'admin';


GO
/****** Object:  StoredProcedure [dbo].[spr_insert_TheLoai]    Script Date: 05/31/17 17:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spr_insert_TheLoai]
@cat_name varchar(max)
as
INSERT INTO TheLoai
           ([NAME])
     VALUES
           (@cat_name)



GO
/****** Object:  StoredProcedure [dbo].[spr_login]    Script Date: 05/31/17 17:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spr_login]
@username varchar(20), @pass varchar(20)
as 
select * from USERS 
where USERNAME = @username and PASS = @pass



GO
USE [master]
GO
